{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	
</head>

<body>

	<br><br><br><br><br><br><br><br>
	<!-- start product Area -->
	<section>
		<!-- single product slide -->
		<div>
			<div class="container">
				<div class="row justify-content-center">
					<div class="col-lg-6 text-center">
						<div class="section-title">
							{% if wishlists %}
								<h1>My Wislist</h1>
							{% else %}
								<h1>No Product In Wishlist</h1>

							{% endif %}
						</div>
					</div>
				</div>
				<div class="row">
					<!-- single product -->
					{% for i in wishlists %}
					<div class="col-lg-3 col-md-6">
						<div class="single-product">
							<img class="img-fluid" src="{{i.product.product_image.url}}" alt="" style="width: 250px; height: 250px;">
							<div class="product-details">
								<h6>{{i.product.product_name}}</h6>
								<div class="price">
									<h6>{{i.product.product_category}}</h6>
									<h6>Rs. {{i.product.product_price}}</h6>
								</div>
								<div class="prd-bottom">
									<a href="{% url 'buyer_product_detail' pk=i.product.pk %}" class="social-info">
										<span class="lnr lnr-move"></span>
										<p class="hover-text">view more</p>
									</a>
								</div>
							</div>
						</div>
					</div>
					
					{% endfor %}
					
				</div>
			</div>
		</div>
		
	</section>
	<!-- end product Area -->

	
	

	
	
</body>

</html>
{% endblock %}