{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	
</head>

<body id="category">

	

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Shop Category </h1>
					<nav class="d-flex align-items-center">
						<a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Shop Category</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->
	<div class="container">
		<div class="row">
			<div class="col-xl-3 col-lg-4 col-md-5">
				<div class="sidebar-categories">
					<div class="head">Browse Categories</div>
					<ul class="main-categories">
						<li class="main-nav-list"><a data-toggle="collapse" href="#fruitsVegetable" aria-expanded="false" aria-controls="fruitsVegetable"><span
								 class="lnr lnr-arrow-right"></span>Shoes<span class="number">(10)</span></a>
							<ul class="collapse" id="fruitsVegetable" data-toggle="collapse" aria-expanded="false" aria-controls="fruitsVegetable">

								<li class="main-nav-list child"><a href="{% url 'product_category' name='boy_shoes' %}">boys-Shoes<span class="number">(13)</span></a></li>
								<li class="main-nav-list child"><a href="{% url 'product_category' name='girl-shoes' %}">Girls-Shoes<span class="number">({{product}})</span></a></li>
								<li class="main-nav-list child"><a href="{% url 'product_category' name='kids-shoes' %}">Kids-Shoes<span class="number">(17)</span></a></li>
							</ul>
						</li>

						<li class="main-nav-list"><a data-toggle="collapse" href="#meatFish" aria-expanded="false" aria-controls="meatFish"><span
								 class="lnr lnr-arrow-right"></span>Mobile<span class="number">(53)</span></a>
							<ul class="collapse" id="meatFish" data-toggle="collapse" aria-expanded="false" aria-controls="meatFish">
								<li class="main-nav-list child"><a href="#">One-Pluse<span class="number">(13)</span></a></li>
								<li class="main-nav-list child"><a href="#">MI<span class="number">(09)</span></a></li>
								<li class="main-nav-list child"><a href="#">Apple<span class="number">(17)</span></a></li>
								<li class="main-nav-list child"><a href="#">Vivo<span class="number">(01)</span></a></li>
								<li class="main-nav-list child"><a href="#">POCO<span class="number">(11)</span></a></li>
							</ul>
						</li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#cooking" aria-expanded="false" aria-controls="cooking"><span
								 class="lnr lnr-arrow-right"></span>Watch<span class="number">(53)</span></a>
							<ul class="collapse" id="cooking" data-toggle="collapse" aria-expanded="false" aria-controls="cooking">
								<li class="main-nav-list child"><a href="{% url 'product_category' name='onepluse' %}">One-Pluse<span class="number">(13)</span></a></li>
								<li class="main-nav-list child"><a href="{% url 'product_category' name='mi' %}">MI<span class="number">(09)</span></a></li>
								<li class="main-nav-list child"><a href="{% url 'product_category' name='apple' %}">Apple<span class="number">(17)</span></a></li>
								<li class="main-nav-list child"><a href="{% url 'product_category' name='fasttage' %}">Fast-tage<span class="number">(01)</span></a></li>
								<li class="main-nav-list child"><a href="{% url 'product_category' name='sony' %}">Sony<span class="number">(11)</span></a></li>
							</ul>
						</li>
						<li class="main-nav-list"><a data-toggle="collapse" href="#beverages" aria-expanded="false" aria-controls="beverages"><span
								 class="lnr lnr-arrow-right"></span>Cloth<span class="number">(24)</span></a>
							<ul class="collapse" id="beverages" data-toggle="collapse" aria-expanded="false" aria-controls="beverages">
								<li class="main-nav-list child"><a href="#">Man<span class="number">(13)</span></a></li>
								<li class="main-nav-list child"><a href="#">Ladies<span class="number">(09)</span></a></li>
								<li class="main-nav-list child"><a href="#">Kids<span class="number">(17)</span></a></li>
								
							</ul>
						</li>
						
					</ul>
				</div>
				<div class="sidebar-filter mt-50">
					<div class="top-filter-head">Product Filters</div>
					<div class="common-filter">
						<div class="head">Brands</div>
						<form method="post" action="{% url 'brand' %}">
							{% csrf_token %}
							<ul>
								{% if adidas == "adidas" %}
								<li class="filter-list"><input class="pixel-radio" type="radio" id="apple" name="adidas" value="adidas" onchange="this.form.submit();" checked><label for="apple">Adidas<span>(1)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="asus" name="adidas" value="canvas"  onchange="this.form.submit();"><label for="asus">Canvas<span>(1)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="gionee" name="adidas" value="woodland"  onchange="this.form.submit();"><label for="gionee">Woodland<span>(1)</span></label></li>
								{% elif adidas == "canvas" %}
								<li class="filter-list"><input class="pixel-radio" type="radio" id="apple" name="adidas" value="adidas" onchange="this.form.submit();" ><label for="apple">Adidas<span>(1)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="asus" name="adidas" value="canvas"  onchange="this.form.submit();" checked><label for="asus">Canvas<span>(1)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="gionee" name="adidas" value="woodland"  onchange="this.form.submit();"><label for="gionee">Woodland<span>(1)</span></label></li>

								{% elif adidas == "woodland" %}
								<li class="filter-list"><input class="pixel-radio" type="radio" id="apple" name="adidas" value="adidas" onchange="this.form.submit();" ><label for="apple">Adidas<span>(1)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="asus" name="adidas" value="canvas"  onchange="this.form.submit();"><label for="asus">Canvas<span>(1)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="gionee" name="adidas" value="woodland"  onchange="this.form.submit();" checked><label for="gionee">Woodland<span>(1)</span></label></li>
								{% else %}
								<li class="filter-list"><input class="pixel-radio" type="radio" id="apple" name="adidas" value="adidas" onchange="this.form.submit();" ><label for="apple">Adidas<span>(1)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="asus" name="adidas" value="canvas"  onchange="this.form.submit();"><label for="asus">Canvas<span>(1)</span></label></li>
								<li class="filter-list"><input class="pixel-radio" type="radio" id="gionee" name="adidas" value="woodland"  onchange="this.form.submit();"><label for="gionee">Woodland<span>(1)</span></label></li>
								{% endif %}
								
							</ul>
						</form>
					</div>
					
					
				</div>
			</div>
			<div class="col-xl-9 col-lg-8 col-md-7">
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">
					
					<div class="sorting mr-auto">
						<form method="post" action="{% url 'price' %}">
							{% csrf_token %}
						<select name="price" onchange="this.form.submit();">
							{% if price == "1" %}
							<option value="0">Select Price</option>

							<option value="1" selected>Prise:lower-Rs.500</option>
							<option value="2" >Prise:Rs.500-Rs.800</option>
							<option value="3">prise:Rs.above-Rs.800</option>
							<option value="4">prise:Rs.above-Rs.1000</option>
							{% elif price == "2" %}
							<option value="0">Select Price</option>

							<option value="1">Prise:lower-Rs.500</option>
							<option value="2" selected >Prise:Rs.500-Rs.800</option>
							<option value="3">prise:Rs.above-Rs.800</option>
							<option value="4">prise:Rs.above-Rs.1000</option>
							{% elif price == "3" %}
							<option value="0">Select Price</option>

							<option value="1">Prise:lower-Rs.500</option>
							<option value="2">Prise:Rs.500-Rs.800</option>
							<option value="3" selected>prise:Rs.above-Rs.800</option>
							<option value="4">prise:Rs.above-Rs.1000</option>
							{% elif price == "4" %}
							<option value="0">Select Price</option>

							<option value="1">Prise:lower-Rs.500</option>
							<option value="2">Prise:Rs.500-Rs.800</option>
							<option value="3">prise:Rs.above-Rs.800</option>
							<option value="4" selected>prise:Rs.above-Rs.1000</option>
							{% else %}
							<option value="0">Select Price</option>

							<option value="1">Prise:lower-Rs.500</option>
							<option value="2" >Prise:Rs.500-Rs.800</option>
							<option value="3">prise:Rs.above-Rs.800</option>
							<option value="4">prise:Rs.above-Rs.1000</option>
							{% endif %}
						</select>
						</form>
					</div>
					<div class="pagination">
						<a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
						<a href="#" class="active">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
						<a href="#">6</a>
						<a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
					</div>
				</div>
				<!-- End Filter Bar -->
				<!-- Start Best Seller -->
				<section class="lattest-product-area pb-40 category-list">
					<div class="row">
						<!-- single product -->
						{% for i in products %}
						<div class="col-lg-4 col-md-6">
							<div class="single-product">
								<img class="img-fluid" src="{{i.product_image.url}}" style="width: 300px; height: 300px;" alt="">
								<div class="product-details">
									<h6>{{i.product_name}}</h6>
									<div class="price">
										<h6>Rs.₹{{i.product_price}}</h6>
										<!-- <h6 class="l-through">$210.00</h6> -->
									</div>
									<div class="prd-bottom">

										<a href="" class="social-info">
											<span class="ti-bag"></span>
											<p class="hover-text">add to bag</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-heart"></span>
											<p class="hover-text">Wishlist</p>
										</a>
										<a href="" class="social-info">
											<span class="lnr lnr-sync"></span>
											<p class="hover-text">compare</p>
										</a>
										<a href="{% url 'buyer_product_detail' pk=i.pk %}" class="social-info">
											<span class="lnr lnr-move"></span>
											<p class="hover-text">view more</p>
										</a>
									</div>
								</div>
							</div>
						</div>
						{% endfor %}
						
					</div>
				</section>
				<!-- End Best Seller -->
				<!-- Start Filter Bar -->
				<div class="filter-bar d-flex flex-wrap align-items-center">
					<div class="sorting mr-auto">
						<select>
							<option value="1">Show 1</option>
							<option value="1">Show 2</option>
							<option value="1">Show 3</option>
							<option value="1">Show 4</option>
							<option value="1">Show 5</option>
							<option value="1">Show 6</option>
							<option value="1">Show 7</option>
							<option value="1">Show 8</option>
							<option value="1">Show 9</option>

						</select>
					</div>
					<div class="pagination">
						<a href="#" class="prev-arrow"><i class="fa fa-long-arrow-left" aria-hidden="true"></i></a>
						<a href="#" class="active">1</a>
						<a href="#">2</a>
						<a href="#">3</a>
						<a href="#" class="dot-dot"><i class="fa fa-ellipsis-h" aria-hidden="true"></i></a>
						<a href="#">6</a>
						<a href="#" class="next-arrow"><i class="fa fa-long-arrow-right" aria-hidden="true"></i></a>
					</div>
				</div>
				<!-- End Filter Bar -->
			</div>
		</div>
	</div>

	<!-- Start related-product Area -->
	<section class="related-product-area section_gap">
		<div class="container">
			<div class="row justify-content-center">
				<div class="col-lg-6 text-center">
					<div class="section-title">
						<h1>Deals of the Week</h1>
						<p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut labore et dolore
							magna aliqua.</p>
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col-lg-9">
					<div class="row">
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r1.jpg '%}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r2.jpg '%}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r3.jpg '%}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r5.jpg '%}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r6.jpg '%}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6 mb-20">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r7.jpg '%}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r9.jpg '%}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r10.jpg '%}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
						<div class="col-lg-4 col-md-4 col-sm-6">
							<div class="single-related-product d-flex">
								<a href="#"><img src="{% static 'img/r11.jpg '%}" alt=""></a>
								<div class="desc">
									<a href="#" class="title">Black lace Heels</a>
									<div class="price">
										<h6>$189.00</h6>
										<h6 class="l-through">$210.00</h6>
									</div>
								</div>
							</div>
						</div>
					</div>
				</div>
				<div class="col-lg-3">
					<div class="ctg-right">
						<a href="#" target="_blank">
							<img class="img-fluid d-block mx-auto" src="{% static 'img/category/c5.jpg '%}" alt="">
						</a>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!-- End related-product Area -->

	
</body>

</html>
{% endblock %}