{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	
</head>

<body>

	

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Confirmation</h1>
					<nav class="d-flex align-items-center">
						<a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="#">Shop<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Confirmation</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Order Details Area =================-->
	<section class="order_details section_gap">
		<div class="container">
			<h3 class="title_confirmation">Thank you. Your order has been received.</h3>
			<div class="row order_d_inner">
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Order Info</h4>
						<ul class="list">
							<li><a href="#"><span>Order number</span>{{request.session.fname}}</a></li>
							<li><a href="#"><span>Date</span> : Los Angeles</a></li>
							<li><a href="#"><span>Total</span> :{{total}}</a></li>
							<li><a href="#"><span>Payment method</span> : Check payments</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Billing Address</h4>

						<ul class="list">
							<li><a href="#"><span>Name</span> :{{request.session.fname}}  {{request.session.lname}}</a></li>
							<li><a href="#"><span>City</span> : Los Angeles</a></li>
							<li><a href="#"><span>Mobile</span> :{{user.mobile}}</a></li>
							<li><a href="#"><span>Pincode</span> : 36952</a></li>
						</ul>
					</div>
				</div>
				<div class="col-lg-4">
					<div class="details_item">
						<h4>Shipping Address</h4>
						<ul class="list">
							<li><a href="#"><span>Street</span> : 56/8</a></li>
							<li><a href="#"><span>City</span> : Los Angeles</a></li>
							<li><a href="#"><span>Country</span> : United States</a></li>
							<li><a href="#"><span>Postcode </span> : 36952</a></li>
						</ul>
					</div>
				</div>
			</div>
			<div class="order_details_table">
				<h2>Order Details</h2>
				<div class="table-responsive">
					<table class="table">
						<thead>
							<tr>
								<th scope="col" style="color: orange; font-size: 20px;">Product</th>
								<th scope="col" style="color: orange; font-size: 20px;">Quantity</th>
								<th scope="col" style="color: orange; font-size: 20px;">Total</th>
							</tr>
						</thead>
						<tbody>
							{% for i in carts %}
							<tr>
								<td>
									<h6>{{i.product.product_name}}</h6>
								</td>
								<td>
									<h5>x {{i.product_qty}}</h5>
								</td>
								<td>
									<h6>{{i.product.product_price}}</h6>
								</td>
							</tr>
							
							{% endfor %}
							<tr>
								<td>
									<h4 style="color: blue;">Subtotal</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<h4 style="color: blue;">{{subtotal}}</h4>
								</td>
							</tr>
							<tr>
								<td>
									<h4 style="color: blue;">Shipping</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<h4 style="color: blue;">Free</h4>
								</td>
							</tr>
							<tr>
								<td>
									<h4 style="color: blue;">Disscount</h4>
								</td>
								<td>
									{% if msg %}
									<h5 style="color: darkgreen;">{{msg}}</h5>
									{% endif %}
								</td>
								<td>
									<h4 style="color: blue;">{{discount}}</h4>
								</td>
							</tr>
							<tr>
								<td>
									<h4 style="color: red;">Total</h4>
								</td>
								<td>
									<h5></h5>
								</td>
								<td>
									<p style="color: red;">{{total}}</p>
								</td>
							</tr>
						</tbody>
						<h1>Back To Home</h1>
					</table>
				</div>
			</div>
		</div>
	</section>
	<!--================End Order Details Area =================-->

	
</body>

</html>
{% endblock %}