{% extends 'header.html' %}
{% load static %}
{% block content %}
<!DOCTYPE html>
<html lang="zxx" class="no-js">

<head>
	
</head>

<body>

	

	<!-- Start Banner Area -->
	<section class="banner-area organic-breadcrumb">
		<div class="container">
			<div class="breadcrumb-banner d-flex flex-wrap align-items-center justify-content-end">
				<div class="col-first">
					<h1>Profile</h1>
					<nav class="d-flex align-items-center">
						<a href="/">Home<span class="lnr lnr-arrow-right"></span></a>
						<a href="category.html">Login/Register</a>
					</nav>
				</div>
			</div>
		</div>
	</section>
	<!-- End Banner Area -->

	<!--================Login Box Area =================-->
	<section class="login_box_area section_gap">
		<div class="container">
			<div class="row">
				<div class="col-lg-6">
					<div class="login_box_img">
						<img class="img-fluid" src="{% static 'img/login.jpg' %}" alt="">
						<div class="hover">
							<h4>New to our website?</h4>
							<p>There are advances being made in science and technology everyday, and a good example of this is the</p>
							<a class="primary-btn" href="{% url 'signup' %}">Create an Account</a>
						</div>
					</div>
				</div>
				<div class="col-lg-6">
					<div class="login_form_inner">
						<h3>Edit Profile</h3>
						{% if msg %}
							<b style="color: blue;">{{msg}}</b>
						 {% endif %}
						<form class="row login_form" action="{% url 'profile' %}" method="post" id="contactForm" novalidate="novalidate" enctype="multipart/form-data">
							{% csrf_token %}
							<div class="col-md-12 form-group">
								<img src="{{user.profile_pic.url}}" height="50px" width="50px">
							</div>
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="fname" value="{{user.fname}}" >
							</div>
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="lname"   value="{{user.lname}}" >
							</div>
							
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="email" value="{{user.email}}" readonly >
							</div>
							<div class="col-md-12 form-group">
								<input type="text" class="form-control" id="name" name="mobile" value="{{user.mobile}}" >
							</div>
							<div class="col-md-12 form-group">
								<textarea rows="5" cols="50" name="address" >{{user.address}}</textarea>
							</div>
							<div class="col-md-12 form-group">
								<input type="file" class="form-control" id="profile" name="profile_pic">
							</div>

							<div class="col-md-12 form-group">
								<button type="submit"  value="submit" class="primary-btn">Update Profie</button>
							</div>
						</form>
					</div>
				</div>
			</div>
		</div>
	</section>
	<!--================End Login Box Area =================-->

	
</body>

</html>
{% endblock %}